* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.meal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 1rem;
    color: black;
}

.meal-image {
    display: flex;
    align-items: center;
    width: 100%;
}

.meal-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.meal-image img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.meal-info {
    background-color: azure;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 0rem 0rem 1rem 1rem;

}

.meal-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}