nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: brown;
    color: whitesmoke;
    opacity: .8;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 1rem;
}

.ingr {
    text-align: left;
    display: flex;
}

.list-container {
    position: relative;
    text-align: left;

}


.nav-list-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .5rem;

}

.nav-list-btn:hover {
    cursor: pointer;
}


.dropdown-content {
    display: none;

}

.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1rem;

}

.dropdown-content a {
    text-decoration: none;
    padding: .5rem;
    padding-left: .8rem;
    color: brown;
    border-radius: 1rem;
}

.dropdown-content a:hover {
    background-color: #e2dcdc;

}

.signup {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100px;
    padding: 1rem;
    margin-right: 1rem;
    border: none;
    background-color: cadetblue;
    border-radius: 1rem;
}

.signup:hover {
    cursor: pointer;
    background-color: chocolate;
}