*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.main-container {
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

.image-slide {
  width: 100%;
  height: 600px;
}
.image-container {
  background-image:url("https://media.post.rvohealth.io/wp-content/uploads/sites/2/2020/01/GRT-meal-prep-chicken-bean-1296x728-header-1296x728.jpg");
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 200px;
}

.header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  width: 85%;
  margin: 0 auto;
  padding: 2rem;;
  border-radius: 0rem 5rem 0 5rem;
}

.header-intro  h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  

}

.category-list-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
  padding-top: 4rem;
}

.category-list-container h2 {
  position: absolute;
  width: 200px;
  top: 1rem;
  left: 0;
  font-size: 2rem;
  color: #fff;
  background-color:darkgrey;
}

.search-box-container {
  display: flex;
  justify-content: center;
  padding: 1rem;

}
