.search-container {
    background-color: brown;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}


form {  
    width: 100%;
    background-color: antiquewhite;
    display: flex;
}

.search-container input {
    padding: 2rem;
    width: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
    border: none;
    font-size: 1.5rem;
}

.search-container input:focus {
    outline: none;
}

form button {
    width: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 1.5rem 1.5rem 0;
}